{% extends param('ccdn_forum_admin.category.index.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- 'title.category' | trans({}, 'CCDNForumAdminBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' -%}
	
{% endblock %}


{% block body %}

	{%- spaceless -%}
	
	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- for category in categories -%}
		{%- include "CCDNForumAdminBundle:Category:item_category.html.twig" -%}
	{%- else -%}
		<div class="well center">
		{{- 'categories.empty' | trans({}, 'CCDNForumForumBundle') -}}
		</div>
	{%- endfor -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}
