{% extends 'CCDNForumAdminBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_admin.category.index.layout_template %}

{% block title %}{{- truncDot('title.category.index' | trans({}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- for category in categories -%}
		{%- include "CCDNForumAdminBundle:Category:item_category.html.twig" -%}
	{%- else -%}
		<div class="well center">
			{{- 'categories.empty' | trans({}, 'CCDNForumForumBundle') -}}
		</div>
	{%- endfor -%}

	{%- endspaceless -%}

{% endblock body_content %}
